.hero {
  background-image: url('../assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: rgb(255, 105, 180);
  padding: 1rem;
}

.hero-content {
  background-color: #1c1c1c75;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1.2;
  margin: 0;
  padding: 2vw;
  border-radius: 5px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  font-weight: bold;
}

.page-content {
  padding: 2rem;
}
