.hero {
  background-image: url("../assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: rgb(255, 105, 180);
  padding: 1rem;
  z-index: 2;
}

.hero-content {
  background-color: #1c1c1c75;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin: 0;
  padding: 0.5rem 2vw;
  border-radius: 1rem;
  border: 2px solid transparent;
  border-color: #ff69b4;
}

.hero h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  display: inline-block;
  width: fit-content;
  max-width: 100%;
}

.hero p {
  font-size: clamp(0.75rem, 1.75vw, 1.25rem);
  font-weight: bold;
}

/* used for original projects page which used dropdown isntead of scroll-snap */
.dropdown-container {
  display: block;
  padding-right: 20%;
  padding-left: 20%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 100%;
  max-height: auto;
}

/* On smaller screens, reduce side padding */
@media (max-width: 766px) {
  .dropdown-container {
    padding: 0 5%;
  }
}

.page-content {
  padding: 2rem;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* social section */
.social-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.25s ease;
}

.social-item:hover .socialButton {
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.8);
}

.social-item:hover .label {
  text-shadow: 0 0 20px rgba(255, 105, 180, 0.8);
  color: #ff69b4;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #ff69b4;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.25s ease;
}

.socialButton:hover {
  transform: translateY(-3px);
}

.icon {
  width: 32px;
  height: 32px;
}

.label {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  text-align: center;
  transition: all 0.25s ease;
}

/* Focus outline for accessibility */
.socialButton:focus,
.socialButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
